@{
    ViewData["Title"] = ViewData["Code"];
}

<section class="box p-4">

    <div class="page-header box-heading">
        <h1 class="text-muted">@ViewData["Code"]&nbsp;<span class="text-primary">@ViewData["Heading"]</span></h1>
    </div>
    <p>
        @ViewData["Message"]
    </p>
    <a href="/">späť domov</a>
</section>



